.footer {
    background-color: #00274d;
    color: white;
    padding: 30px 20px;
    text-align: center;
  }
  
  .footer div {
    margin: 10px 0;
  }
  
  .footer a {
    text-decoration: none;
    color: #1e90ff;
    margin: 0 10px;
  }
  
  .footer a:hover {
    color: white;
  }
  